body{
	background-image: url(https://courses.cs.washington.edu/courses/cse190m/12sp/labs/2/images/background.gif);
}
.container{
	border: 5px solid green;
	background: white;
	margin-left: 10%;
	margin-right: 10%;

}
.header{
	border: 5px solid red;
	overflow: hidden;
}
.header h2 {
	border: 5px solid orange;
}
.container .body{
	border: 5px solid blue;
	background: #E8FBFB;
	padding: 5px;
	margin: 5px 0 0 0;
}
.body span{
	border: 5px solid purple;
}
.header h1{
	float:right;
}
.header div{
	overflow: hidden;
}
.header h2{
	text-align: right;
}
.body img{
	float:right;
}
.body{
	overflow: hidden;
}
